.main_header{
    width: 100%;
    background-color: #2D3142;
}

.main_header .main_header_content{
    max-width: 1300px;
    margin: 0 auto;
    display: flex; /*Deixa o container como flex automaticamente*/
}

.main_header .main_header_content .logo{
    flex-basis: 330px; /*290 + 20(direita) + 20(esquerda)*/
    padding: 20px;
    width: 290px;/*Largura da imagem real*/
}

.main_header .main_header_content .main_header_content_menu{
    flex-basis: calc(100% - 330px);/*1300 - 330 = o que resta será para o nav, ou seja, os links*/
    display: flex;
    justify-content: flex-end; /*Como é um elemento flexivel, vamos colocar no final da direita*/
}

.main_header_content_menu ul{
    display: flex;
    align-items: stretch;/*Os itens serão esticados para preencher toda a dimensão do eixo transversal (altura ou largura);*/
}

.main_header_content_menu ul li{
    list-style: none;/*tira os pontinhos*/
    display: flex;
    align-items: center; /*Centraliza verticalmente*/
}

.main_header_content_menu ul li a{
    padding: 0 26px;
    display: flex;
    align-items: center;
    height: 100%;
    color: #D36833;
}

.main_header_content_menu ul li a:hover{
    color: #FFF;
    background-color: #D36833 ;
}

.main_cta{
    width: 100%;
    background-image: url("../_img/bg_main_home.png");
    background-color: #2D3142;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; /*Adequa ao tamanho do palco*/
}

.main_cta .main_cta_content{
    max-width: 1300px;
    margin: 0 auto;
}

.main_cta .main_cta_content h1{
    font-size: 3em;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
}

.main_cta .main_cta_content p{
    font-size: 1.875em;
    color: #FFFFFF;
    font-weight: 300;
    text-align: center;
    margin: 20px 0;
}

.main_cta .main_cta_content .btn{
    background-color: #D36833;
    color: #FFFFFF;
    font-size: 0.8em;
    padding: 10px 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.main_cta .main_cta_content .main_cta_content_spacer{
    margin: 0 auto;
    max-width: 1300px;
    padding: 180px 40px;
}

.main_blog{
    max-width: calc(1300px - 40px);
    padding: 0 20px;
    margin: 0 auto;
    display: flex; /*Deixar o conteudo do nossos artigos flexiveis*/
    justify-content: space-between; /*Deixa um espaço entre os elementos*/
    flex-wrap: wrap; /*Quebra uma linha pra baixa os nosso elementos*/
}

.main_blog_header{
    flex-basis: 100%; /*Nosso header tem 100% de largura*/
    margin: 30px 0;
}

.main_blog_header h1{
    color: #333;
    margin-bottom: 5px;
    font-size: 1.8em;
}

.main_blog article{
    opacity: 0.7;
    flex-basis: calc(25% - 20px);
    margin-bottom: 30px;
}

.main_blog article:hover{
    opacity: 1;
}

.main_blog article img{
    width: 100%;
}

.main_blog article p{
    margin: 10px 0;
}

.main_blog article .category{
    font-size: 0.875em;
    color: #D36833;
}

.main_blog article h2{
    font-weight: 300;
    font-size: 1.2em;
    color: #333333;
}

.main_blog article h2 a{
    color: #333333;
}

.main_optin{
    width: 100%;
    background-color: #2D3142;
    margin: 40px 0;
}

.main_optin_content{
    max-width: calc(1300px - 40px);
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
}

.main_optin_content header, .main_optin_content form{
    flex-basis: 50%;
}

.main_optin_content header h1, .main_optin_content header p{
    color: #FFFFFF;
    margin-right: 20px;
    text-align: right;
}

.main_optin_content header h1{
    font-size: 1.2em;
    font-weight: 400;
}

.main_optin_content header p{
    font-weight: 300;
    font-size: 0.875em;
}

.main_optin_content form{
    display: flex;
    justify-content: space-between;
}

.main_optin_content form input[type=text], .main_optin_content form input[type=email]{
    flex-basis: 37%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: none;
    padding: 0px 10px;
}

.main_optin_content form button{
    flex-basis: 20%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #FFFFFF;
    background-color: #D36833;
    border: none;
    font-size: 0.875em;
}

.main_course{
    width: 100%;
}

.main_course .main_course_header{
    max-width: 780px;
    margin: 0 auto 40px;
    text-align: center;
    color: #333333;

}

.main_course .main_course_header img{
    margin-bottom: 40px;
}

.main_course .main_course_header h1{
    font-size: 3em;
    margin-bottom: 10px;
}

.main_course_content{
    max-width: 1300px;
    margin: 0 auto 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main_course_content article{
    flex-basis: calc(50% - 40px);
    margin: 20px 0;
    background-color: #EBEBEB;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 20px;
}

.main_course_content article h2{
    font-size: 1.3em;
    color: #333333;
    margin-bottom: 4px;
}

.main_course_content article p{
    font-size: 0.9em;
    color: #333333;
}

.main_course_fullwidth{
    width: 100%;
    background-color: #D36833;
    padding: 40px 0;
}

.main_course_rating_content{
    max-width: 1300px;
    margin: 0 auto;
}

.main_course_rating_content_title{
    color: #FFFFFF;
    text-align: center;
}

.main_course_rating_content_title h2{
    font-size: 2.4em;
    margin-bottom: 20px;
}

.main_course_rating_content_comment{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_course_rating_content_comment > header{
    flex-basis: 100%;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.main_course_rating_content_comment > article{
    flex-basis: calc(50% - 20px);
    margin: 20px 0;
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 20px;
}

.main_course_rating_content_comment > article h3{
    font-size: 1.2em;
    margin-bottom: 4px;
}

.main_course_rating_content_comment > article img{
    width: 15px;
    margin-top: 5px;
    margin-bottom: 2px;
}

.main_school{
    width: 100%;
}

.main_school_content{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_school_header{
    flex-basis: 100%;
    padding: 40px 0;
}

.main_school_header h1{
    font-size: 2.2em;
    margin-bottom: 20px;
    color: #333333;
}

.main_school_content_left{
    flex-basis: calc(70% - 20px);
}

.main_school_content_right{
    flex-basis: 30%;
}

.main_school_content_right img{
    width: 100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.main_school_content_left_social_network{
    padding: 10px 10px;
    background-color: #2D3142;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #FFFFFF;
}

.main_school_content_left_social_network span{
    margin-left: 20px;
}

.main_school_content_left_social_network a{
    color: #FFFFFF;
    font-size: 0.9em;
}

.main_school_content_left_social_network a:hover{
    text-decoration: underline;
}